@import url(https://fonts.bunny.net/css?family=rubik:300,300i,600);

:root{
    --bg-color: rgb(255, 255, 255);
    --shadow-color: rgb(230, 230, 230);
    --border-color: rgb(209, 209, 209);

    --primary-color: rgb(0,0,0);
    --secondary-color: rgb(121, 121, 121); 
    --third-color: rgb(218, 218, 218);

    --danger-color: rgb(224, 35, 35);
    --warning-color: rgb(187, 196, 15);
    --warning2-color: rgb(196, 121, 15);
}

html * {
    font-family: 'Rubik', sans-serif;
}

.main-container {
    max-width: 400px;
    margin: auto;
}

.project-title, .project-page-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.page-title-container{
    margin: 16px 0;
}

.page-title-container input {
    color: var(--primary-color);
    border: none;
    border-radius: 8px;
    border: 1px solid var(--bg-color);
}

.page-title-container input:focus {
    color: var(--secondary-color);
    outline: none;
    border: 1px solid var(--secondary-color);
}

.todo-item[data-editing="true"] .edit-mode {
    display: block;
}

.todo-item[data-editing="false"] .edit-mode {
    display: none;
}

.todo-item[data-editing="true"] .view-mode {
    display: none;
}

.todo-item[data-editing="false"] .view-mode {
    display: block;
}

.todo-item {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 12px;
    box-shadow: 2px 2px 2px var(--shadow-color);

    display: flex;
    flex-direction: column;
    gap: 4px;

    transition: transform .1s;
}

.todo-item-top-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.todo-title, .edit-title {
    flex-grow: 1;
}

.todo-btns{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.todo-btns svg {
    height: 1.15rem;
    color: var(--secondary-color);
}

.todo-btn-edit svg:hover{
    color: var(--primary-color);
}

.todo-btn-delete svg:hover{
    color: var(--danger-color);
}

.todos-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-page{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
}

.project-item {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: stretch;
}

.projects-container{
    margin-top: 8px;
}

.project-item-num-elements {
    font-size: 0.8rem;
    color: var(--secondary-color);
}

.return-btn-container svg{
    height: 1.6rem;
    padding: 8px 16px;
}

.return-btn-container {
    color: var(--secondary-color);
}

.return-btn-container:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.page-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.todo-priority {
    font-size: 0.6rem;
    border-radius: 16px;
    padding: 4px;
    width: fit-content;
    font-weight: 600;
    color: white;
}

.todo-priority:empty {
    display: none !important ;
}

.high-priority {
    background-color: var(--danger-color);
}

.low-priority {
    background-color: var(--warning-color);
}

.meddium-priority {
    background-color: var(--warning2-color);
}

.todo-date, .edit-date {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--secondary-color);
}

.todo-description, .edit-description {
    font-size: 0.9rem;
    color: var(--secondary-color);
}


.edit-title {
    font-size: 1rem;
}

.edit-title, .edit-date, .edit-description {
    padding: 4px;
    resize: none;
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
}

.todo-completed .todo-title,
.todo-completed > .todo-date,
.todo-completed > .todo-description {
    color: var(--third-color) ;
}

.todo-completed .todo-priority {
    background-color: var(--third-color);
}

.todo-item:hover {
    transform: scale(1.03);
}

.add-todo-btn,
.create-project-btn {
    background-color: var(--third-color);
    border: none;
    border-radius: 12px;
    padding: 8px;
    margin-top: 16px;
    display: flex;
    gap: 8px;
    box-shadow: 1px 1px 1px var(--shadow-color);
}

.add-todo-btn:hover,
.create-project-btn:hover {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.add-todo-btn > svg,
.create-project-btn > svg{
    height: 1rem;
}

.add-btn-container{
    display: flex;
    justify-content: flex-end;
}

.project-btn-delete svg {
    height: 1.2rem;
}

.project-item-text {
    flex-grow: 1;
    padding: 16px;
}

.project-btn-delete {
    display: flex;
    align-items: center;
    padding: 8px;
    
}

.project-btn-delete:hover{
    background-color: var(--danger-color);
    color: white;
}

.project-item-text:hover{
    background-color: var(--third-color);
    cursor: pointer;
}